---
- name: "Instalando pacotes do sistema nescessarios para o mysql"
  apt:
    name: ["mysql-server-5.6", "python-mysqldb"]
    state: latest
  become: yes

- name: "Criando schema no MySQL"
  mysql_db:
    name: "{{ DATABASE_NAME }}"
    login_user: root
    state: present

- name: "Criando usuario no MySQL"
  mysql_user:
    login_user: root
    name: "{{ DATABASE_USER }}"
    password: "{{ DATABASE_PASSWORD }}"
    priv: "{{ DATABASE_NAME }}.*:ALL"
    state: present
    host: "{{ item }}"
  with_items:
    - 'localhost'
    - '127.0.0.1'
    - '{{ HOST_WORDPRESS }}'

- name: "Copiando arquivo de configuração do mysql"
  copy:
    src: "my.cnf"
    dest: "/etc/mysql/my.cnf"
  become: yes
  notify:
    - restart mysql